*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg,#756AB6,#E0AED0);
}
.Container{
    background-color: white;
    width: 35%;
    max-height: 450px;
    border-radius: 10px;
    padding: 10px;
    
}
h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #756AB6;
    font-size: 25px;
    font-weight: 700;
}
.forinput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 25px;
    border: none;
    border-radius: 25px;
    background: #F2F1EB; 

}
input{
    width: 100%;
    border: none;
    outline: none;
   border-radius: 8px;
   font-weight: 50px;
  background: transparent;
  
}
button{
    border: none;
    outline: none;
    padding: 20px 30px;
    font-size: 14px;
    border-radius: 25px;
    background: #F3B664;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 10px 8px 10px 16px;
    user-select: none;
    cursor: pointer;
position: relative;
}
ul li.checked{
    text-decoration: line-through red;
    
}
span{
   position: absolute; 
   right: 0;
   width: 30px;
   height: 30px;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
}
span:hover{
    background:#F2F1EB ;
}
@media only screen and (max-width: 700px) {
    .Container{
        width: 90%;
       
    }
}